.spin2 {
    display: inline-block;
    /* margin-top: 120px; */
    width: 50px;
    height: 50px;
    border: 3px solid rgba(135, 135, 135, 0.3);
    border-radius: 50%;
    border-top-color: #a99;
    animation: spin 1ps ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }